apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: test-alert
  namespace: monitoring
  labels:
    release: kube-prom-stack
spec:
  groups:
  - name: test.rules
    rules:
    - alert: AlwaysFiring
      expr: vector(1)
      for: 10s
      labels:
        severity: critical
      annotations:
        summary: "Alerte de test toujours firing"
        description: "Cette alerte est toujours active pour les tests"
