additionalScrapeConfigs:
  - job_name: "sqli-detector"
    metrics_path: /metrics
    static_configs:
      - targets:
          - sqli-detector.sqli-lab.svc.cluster.local:8000

additionalPrometheusRulesMap:
  sqli-rules:
    groups:
      - name: sqli-detection
        rules:
          - alert: SQLInjectionDetected
            expr: sql_injection_attempts_total > 0
            for: 5s
            labels:
              severity: critical
            annotations:
              description: "SQL Injection detected by sqli-detector"
              summary: "SQL Injection attempt"
