additionalScrapeConfigs:
  - job_name: "sqli-detector"
    metrics_path: /metrics
    static_configs:
      - targets:
          - sqli-detector.sqli-lab.svc.cluster.local:8000

alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      receiver: discord-sqli
      routes:
        - match:
            alertname: SQLInjectionDetected
          receiver: discord-sqli
    receivers:
      - name: discord-sqli
        slack_configs:
          - api_url: "https://discord.com/api/webhooks/1446090054580568084/mLUaar9QmGEVostzwe-QofzGn6W8jDzHPimCSoPzAcMOiuAVfYFOrG6jjM1EkK1tQic1/slack"
            send_resolved: true
            username: "Alertmanager"
            icon_emoji: ":rotating_light:"
          
additionalPrometheusRulesMap:
  sqli-rules:
    groups:
      - name: sqli-detection
        rules:
          - alert: SQLInjectionDetected
            expr: increase(sql_injection_attempts_total[5m]) > 0
            for: 5s
            labels:
              severity: critical
            annotations:
              description: "SQL Injection detected by sqli-detector"
              summary: "SQL Injection attempt"
              #pattern: "{{ $labels.pattern }}"
